<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GameSwitch;Integrated Security=true;"/>
	</appSettings>
	<connectionStrings>
		<add
			name="GameSwitchDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GameSwitch;Integrated Security=true;"
			providerName="Sql.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>